/*  #GMAPS + Location  Details
================================================*/
  .sebm-google-map-container {
    height: 350px;
}

ion-card {
  --background: var(--cs-background-primary);
}
i::before {
  margin: 0 !important;
}
