<!-- ACTION SHEET --COMPONENT 3-->
<ion-page class="ion-page">
  <!--- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid *ngIf="data != null">
      <ion-row *ngIf="data != null">
        <!-- Cards Full Image-->
        <ion-col size="12" size-md="6" *ngFor="let item of data.items">
          <!-- Card Big Image-->
          <ion-card class="ion-no-margin no-box-shadow" (click)="onItemClickFunc(item, $event)">
            <!-- <ion-card-header> -->
            <ion-item class="ion-no-padding ion-align-self-end transparent" lines="none">
              <ion-label>
                <!-- Card Categoty-->
                <span class="ion-text-uppercase text-size-sm text-color-accent font-bold">{{item.category}}</span>
                <!-- Card Title-->
                <h2 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{item.title}}</h2>
                <!-- Card Subtitle-->
                <h4 class="ion-text-wrap text-size-xs text-color-secondary font-regular">{{item.subtitle}}</h4>
              </ion-label>
              <ion-button class="button-action-shit" slot="end" (click)="presentActionSheet(data, $event)">
                <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="data.shareIcon"></ion-icon>
              </ion-button>
            </ion-item>
            <div class="border-radius gradient-image">
              <!-- Images-->
              <ion-img [src]="item.image"></ion-img>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
