<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'work_class' | translate }}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm"  animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item class="ion-text-wrap" *ngFor="let item of plist | filter:filterTerm " (click)="selectSelector(item)"
      detail="false">
      <ion-label class="ion-text-wrap">
        <h2>{{item.description}}</h2>
        <!-- <p>Code : {{item.code}}{{item.duration}}</p>
        <p>Duration : {{item.duration}}</p> -->
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
