<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start" (click)="closeModel()">
      Close Model
    </ion-buttons> -->
    <ion-button expand="block" color="success" (click)="closeModel()">Close</ion-button>
    <!-- <ion-title class="ion-text-capitalize" (click)="closeModel()" >Close</ion-title> -->
  </ion-toolbar>
</ion-header>
<!-- ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="12" >
        <ion-list>
          <ion-item class="transparent">
            <ion-label>
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{description}}</h2>
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{poNo}}</h2>
            </ion-label>
            <h3 class="ion-text-wrap ion-padding-end text-size-xs text-color-secondary font-light">{{qty}}</h3>
           
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-list lines="none">
            <ion-item class="transparent">
             
             Package No
              <div class="item-note" slot="end">
                {{packageNo}}
              </div>
            </ion-item>
             <ion-item class="transparent">
             
             Description
              <div class="item-note" slot="end">
                {{description}}
              </div>
            </ion-item>
            
            <ion-item class="transparent">
             
             PO No
              <div class="item-note" slot="end">
                {{poNo}}
              </div>
               </ion-item>
             <ion-item class="transparent">
             
             Container
              <div class="item-note" slot="end">
                {{containerNo}}
              </div>
            </ion-item>
           
             <ion-item class="transparent">
         		Height
              <div class="item-note" slot="end">
                {{height}}
              </div>
            </ion-item>
             <ion-item class="transparent">
             	Length
              <div class="item-note" slot="end">
                {{length}}
              </div>
            </ion-item>
             <ion-item class="transparent">
             	Width
              <div class="item-note" slot="end">
                {{width}}
              </div>
            </ion-item>
              <ion-item class="transparent">
             
             Gross
              <div class="item-note" slot="end">
                {{gross}}
              </div>
            </ion-item>
             <ion-item class="transparent">
             	Net
              <div class="item-note" slot="end">
                {{net}}
              </div>
            </ion-item>
              <ion-item class="transparent">
            	Supplier Text 
              <div class="item-note" slot="end">
                {{supplierText}}
              </div>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

