// ion-avatar{
//     width:50% !important;
//     height : 50% !important;
//     max-width: 40px !important;  
//     max-height: 70px !important; 
//     object-fit:contain;
//     filter:none;
//     border: 1px solid lightgrey;
//     border-radius: 0px;
// }
// #image{
//     border: 1px solid lightgrey;
// }

// #pdf{
//     border: 1px solid lightgrey;
// }

.margin-left{
    margin-left: 10px;
}

.smallsize{
    font-size: small;
}