<!-- CHECK BOX --COMPONENT 1 -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12" *ngIf="data != null">
      <ion-list>
        <ion-item class="transparent" *ngFor="let entry of data" (click)="onItemClickFunc(entry)">
          <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
          <ion-label class="ion-text-wrap ion-padding-start text-size-xs text-color-primary font-light">{{entry.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
