<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'pictures' | translate }}</ion-title>
    <ion-checkbox slot="end" [(ngModel)]="checkbox_hidden" (ionChange)="hideCheckbox()"></ion-checkbox>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- <ion-item *ngFor="let item of plist"></ion-item> -->  
    <app-file-list *ngFor="let item of plist" [item]="item" [userDetails]="bObj" (openImage)="viewImage($event)" (openFile)="viewFile($event)"></app-file-list>  
  </ion-list>
  <!-- <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="openModal()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="capturePicture()"><ion-icon name="camera-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>    
    <ion-fab-list side="start">
      <ion-fab-button (click)="openFile()"><ion-icon name="image-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="openFile()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="deleteFiles()"><ion-icon name="trash-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>    
  </ion-fab>

  <input type="file" id="image" style="display: none;" #fileupload accept="video/mp4, image/png, image/gif, image/jpeg" multiple="false" class="fileupload" name="fileupload" (change)="onSelectFile($event)" />

</ion-content>