.inline{
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
}

.alignbottomright{
    position: absolute;
    top:500px;
    left: 280px;
}

ion-checkbox{
    background-color: white;
    margin-right:10px;
}