<ion-app>
  <!-- Header -->
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-google-card-list-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onFab)="onFab($event)"
      (onShare)="onShare($event)"
      (onLike)="onLike($event)"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)">
    </cs-google-card-list-layout-1>

    <!-- PAGE 2 -->
    <cs-google-card-list-layout-2
      *ngIf="isType(1)"
      [data]="data"
      (onFab)="onFab($event)"
      (onShare)="onShare($event)"
      (onLike)="onLike($event)"
      (onExplore)="onExplore($event)"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)">
    </cs-google-card-list-layout-2>

    <!-- PAGE 3 -->
    <cs-google-card-list-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onFab)="onFab($event)"
      (onItemClick)="onItemClick($event)">
    </cs-google-card-list-layout-3>

    <!-- PAGE 4 -->
    <cs-google-card-list-layout-4
    *ngIf="isType(3)"
    [data]="data"
    (onItemClick)="onItemClick($event)">
    </cs-google-card-list-layout-4>

  </ion-content>
</ion-app>
