/*  # Style Time Line -- Timeline With Cards
===========================================*/
ion-card {
  overflow: visible;
  position: relative;

  &:after {
    content: "";
    width: 1px;
    top: 22px;
    left: -30px;
    bottom: -25px;
    position: absolute;
    background-color:var(--cs-background-border);
  }

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--cs-background-accent);
    top: 12px;
    left: -36px;
    position: absolute;
    z-index: 999;
  }
}

ion-col > ion-card:last-child {
  &:after {
    display: none;
  }
}
