/* Style component 10
========================================================*/
.background-size {
  height: 40vh;
  position: relative;
  background-color: var(--cs-blandModes-secondary);
  background-blend-mode: luminosity;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: var(--cs-mode-image);
    background: var(--cs-gradient-linear);
  }
ion-card-content  {
  position: absolute;
  bottom: 0;
  left: 0;
}
}
