<!-- GOOGLE CARD --COMPONENT 3 -->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items">
      <ion-card class="ion-no-margin no-box-shadow" (click)="onItemClickFunc(item, $event)">
        <ion-item class="ion-no-padding transparent" lines="none">
          <ion-label>
            <span class="text-size-sm text-color-accent font-regular ion-text-uppercase">{{item.category}}</span>
            <!-- Card Title -->
            <h2 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{item.title}}</h2>
            <!-- Card Subtitle -->
            <p class="ion-card-subtitle text-size-xs text-color-secondary font-light">{{item.subtitle}}</p>
          </ion-label>
          <span class="ion-margin-bottom new-category" slot="end">{{item.button}}</span>
        </ion-item>
        <ion-card-content class="ion-no-padding border-radius gradient-image">
          <ion-img [src]="item.image"></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
