<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
  <ion-item class="ion-no-padding ion-margin-start transparent ion-margin-bottom" *ngIf="true">
    <ion-label class="text-size-xs text-color-secondary font-regular">Project</ion-label>
    <ion-select formControlName="project" multiple="false" >
      <ion-select-option *ngFor="let project of projectTags" value="{{project.id}}">{{project.name}}></ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-no-padding ion-margin-start transparent ion-margin-bottom" *ngIf="true">
    <ion-label class="text-size-xs text-color-secondary font-regular">Status Code</ion-label>
    <ion-select formControlName="statuscode" multiple="true">
      <ion-select-option *ngFor="let status of stausCodes" value="{{status.id}}">{{status.name}}>></ion-select-option>
      
    </ion-select>
  </ion-item>
  <div padding>
    <ion-button expand="full" [disabled]="user.invalid" color="primary" type="submit">Save Setting</ion-button>
  </div>
</form>
</ion-content>
