/* Style component 1
========================================================*/

.background-size {
  height: 300px;
  position: relative;
}

.slider {
  overflow-x: scroll;
  display: -webkit-inline-box;
  display: flex;
  flex-direction: row;
  min-height: 120px;

  ion-card {
    margin: 4px 4px 16px 4px !important;
    position: relative;
    width: 100px;
    height: auto;
    flex: none;
  }
}

ion-item {
  --inner-padding-end: 0;
}
