<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Services</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="completeTasks($event)">
        {{'service_out_button' | translate }}
      </ion-button>
      <ion-button (click)="moreMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list-header class="ion-padding-end" color="secondary" (click)="plist_WEEKLY_open = !plist_WEEKLY_open">
    <ion-label class="ion-text-uppercase">{{'weekly_heading' | translate }}</ion-label>
    <ion-icon [name]="plist_WEEKLY_open ? 'chevron-down-circle-outline' : 'chevron-up-circle-outline' "></ion-icon>
  </ion-list-header>

  <ion-list [hidden]="plist_WEEKLY_open == false" >
    <ion-item lines="none" class="ion-text-wrap" *ngFor="let item of plist['WEEKLY'] | filter:filterTerm" [color]="item.complete == true ? 'postgreen' : ''" (click)="completeItem(item)">
      <ion-label >
        <h2>{{item.description}}</h2>
      </ion-label>
      <ion-icon slot="end" [style.color]="item.colorCode " name="checkmark-circle-outline" ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list-header class="ion-padding-end" color="secondary" (click)="plist_MONTHLY_open = !plist_MONTHLY_open">
    <ion-label>{{'monthly_heading' | translate }}</ion-label>
    <ion-icon [name]="plist_MONTHLY_open ? 'chevron-down-circle-outline' : 'chevron-up-circle-outline' "></ion-icon>
  </ion-list-header>

  <ion-list [hidden]="plist_MONTHLY_open == false" >
    <ion-item lines="none" class="ion-text-wrap" *ngFor="let item of plist['MONTHLY'] | filter:filterTerm" [color]="item.complete == true ? 'postgreen' : ''" (click)="completeItem(item)">
      <ion-label >
        <h2>{{item.description}}</h2>
      </ion-label>
      <ion-icon slot="end" [style.color]="item.colorCode " name="checkmark-circle-outline" ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list-header class="ion-padding-end" color="secondary" (click)="plist_YEARLY_open = !plist_YEARLY_open">
    <ion-label>{{'yearly_heading' | translate }}</ion-label>
    <ion-icon [name]="plist_YEARLY_open ? 'chevron-down-circle-outline' : 'chevron-up-circle-outline' "></ion-icon>
  </ion-list-header>

  <ion-list [hidden]="plist_YEARLY_open == false" >
    <ion-item lines="none" class="ion-text-wrap" *ngFor="let item of plist['YEARLY'] | filter:filterTerm" [color]="item.complete == true ? 'postgreen' : ''" (click)="completeItem(item)">
      <ion-label >
        <h2>{{item.description}}</h2>
      </ion-label>
      <ion-icon slot="end" [style.color]="item.colorCode " name="checkmark-circle-outline" ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list-header class="ion-padding-end" color="secondary" (click)="plist_MANDATORY_open = !plist_MANDATORY_open">
    <ion-label>{{'mandatory_heading' | translate }}</ion-label>
    <ion-icon [name]="plist_MANDATORY_open ? 'chevron-down-circle-outline' : 'chevron-up-circle-outline' "></ion-icon>
  </ion-list-header>


  <ion-list [hidden]="plist_MANDATORY_open == false">
    <ion-item lines="none" class="ion-text-wrap" *ngFor="let item of plist['MANDATORY'] | filter:filterTerm" [color]="item.complete == true ? 'postgreen' : ''" (click)="completeItem(item)">
      <ion-label >
        <h2>{{item.description}}</h2>
      </ion-label>
      <ion-icon slot="end" [style.color]="item.colorCode " name="checkmark-circle-outline" ></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>

