<!--Google Maps Gmaps + About Us-->
<ion-page class="ion-page" *ngIf="viewEntered">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="data != null">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-item class="transparent">
            <ion-label>
              <!-- Maps Title-->
              <h1 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{data.title}}</h1>
            </ion-label>
          </ion-item>
          <ion-item class="transparent">
            <ion-label>
              <!-- Maps Subttitle-->
              <h2 class="ion-text-wrap text-size-xl font-regular text-color-primary">{{data.titleDescription}}</h2>
              <h2 class="ion-no-margin text-color-primary text-size-md font-light ion-text-wrap ion-padding-top">{{data.contentTitle}}</h2>
              <p class="ion-text-wrap text-color-secondary text-size-xs font-light">{{data.contentDescription}}</p>
            </ion-label>
          </ion-item>
          <!---About Info-->
          <ion-list>
            <ion-item class="transparent">
              <i slot="start" class="icon {{data.iconLoacation}} icon-font-md icon-color-accent"></i>
              <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconLoacationText}}</p>
            </ion-item>
            <ion-item class="transparent">
              <i slot="start" class="icon {{data.iconWatch}} icon-font-md icon-color-accent"></i>
              <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconWatchText}}</p>
            </ion-item>
            <ion-item class="transparent">
              <i slot="start" class="icon {{data.iconPhone}} icon-font-md icon-color-accent"></i>
              <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconPhoneText}}</p>
            </ion-item>
            <ion-item class="transparent">
              <i slot="start" class="icon {{data.iconEarth}} icon-font-md icon-color-accent"></i>
              <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconEarthText}}</p>
            </ion-item>
            <ion-item class="transparent">
              <i slot="start" class="icon {{data.iconEmail}} icon-font-md icon-color-accent"></i>
              <p class="ion-no-margin font-regular text-size-xs text-color-primary">{{data.iconEmailText}}</p>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col class="ion-no-padding" size="12">
          <!---MAP TEXT-->
          <h2 class="ion-margin-start text-size-xs text-color-primary font-regular">{{data.titleMap}}</h2>
          <agm-map [latitude]="data.map.lat" [longitude]="data.map.lng" [zoom]="data.map.zoom" [mapTypeControl]="data.map.mapTypeControl" [streetViewControl]="data.map.streetViewControl">
            <agm-marker [latitude]="data.map.lat" [longitude]="data.map.lng"></agm-marker>
          </agm-map>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
