<!-- Themes Register + logo 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content *ngIf="data != null">
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="data != null">
        <ion-col class="ion-no-padding background-size gradient-image" size="12" [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
          <h1 class="ion-text-wrap text-size-xl text-color-light font-bold register-title">{{data.title}}</h1>
        </ion-col>
        <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
          <!---Form-->
          <form class="ion-padding-top">
            <!---Input field username-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableUsername}}</ion-label>
              <ion-input required type="text" [placeholder]="data.username" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.username"></ion-input>
              <ion-icon *ngIf="!isUsernameValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lablePassword}}</ion-label>
              <ion-input required type="password" [placeholder]="data.password" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.password"></ion-input>
              <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field email-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableEmail}}</ion-label>
              <ion-input required type="email" [placeholder]="data.email" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
              <ion-icon *ngIf="!isEmailValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field country-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableCountry}}</ion-label>
              <ion-input required type="text" [placeholder]="data.country" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.country"></ion-input>
              <ion-icon *ngIf="!isCountryValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field city-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableCity}}</ion-label>
              <ion-input required type="text" [placeholder]="data.city" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.city"></ion-input>
              <ion-icon *ngIf="!isCityValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Register button-->
            <ion-button class="button-clear ion-text-capitalize ion-float-end ion-margin-top ion-margin-bottom ion-padding-top" fill="clear" (click)="onRegisterFunc()">{{data.register}}
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
