<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'qr_code' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="projectData">
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{user?.firstname}} {{user?.lastname}}</ion-card-title>
  </ion-card-header>

  <ion-card-content [hidden]="isScanSuccess == false">
    <ion-item lines="none">
      <ion-label>
        <h2>{{ projectData?.littera}}</h2>
        <p>{{ projectData?.timeStamp | date }}</p>
        <p>{{ projectData?.project}}</p>
        <p>{{ projectData?.user}}</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label position="stacked"><h2>{{ 'comments' | translate}}</h2></ion-label>
      <ion-input id="comments" [(ngModel)]="projectData.comments" name="comments"></ion-input>

    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button [hidden]="projectData?.start == true" (click)="qrcodeIn()" expand="block" color="primary" shape="round" >{{ 'qr_in_button' | translate }}</ion-button>
        </ion-col>
        <ion-col>
          <ion-button [hidden]="projectData?.start == false" (click)="qrcodeOut()" expand="block" color="danger" shape="round">{{ 'qr_out_button' | translate }}</ion-button>   
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
  </ion-card-content>
</ion-card>
</ion-content>
