.full-height {
  height: 100% !important;
}

.slider {
  position: absolute;
  bottom: 0;
  overflow-x: scroll;
  display: -webkit-inline-box;
  display: flex;
  flex-direction: row;

  .background-size{
    margin: 8px 8px !important;
    position: relative;
    min-width: 200px;
    min-height: 150px;
    margin-bottom: 5px;
    flex: none;

    ion-card-content {
      position: absolute;
      z-index: 999;
      padding: 10px;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
