<!--Google Maps Gmaps + About Us-->
<ion-content *ngIf="data != null">
  <ion-grid class="ion-no-padding full-height">
    <ion-row class="full-height">
      <ion-col class="ion-no-padding full-height" size="12">
        <agm-map class="full-height" [latitude]="data.map.lat"
        [longitude]="data.map.lng" [zoom]="data.map.zoom"
        [mapTypeControl]="data.map.mapTypeControl"
        [streetViewControl]="data.map.streetViewControl">
          <agm-marker [latitude]="data.map.lat"
          [longitude]="data.map.lng"></agm-marker>
        </agm-map>
      </ion-col>
      <ion-col class="ion-no-padding slider" size="12">
        <ion-card class="gradient-image border-radius no-box-shadow background-size" *ngFor="let item of data.slider" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
          <ion-card-content>
            <h3 class="ion-text-wrap text-size-xs text-color-light font-regular ion-no-margin">{{item.subtitle}}</h3>
            <h2 class="text-size-md text-color-light font-bold ion-text-wrap">{{item.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
