<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Book Container</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start transparent ion-margin-bottom">
        <ion-label class="text-size-xs text-color-secondary font-regular">Location</ion-label>
        <ion-select formControlName="area" multiple="false">
          <ion-select-option *ngFor="let status of storageArea" [value]="status.id">{{status.name}}>></ion-select-option>
          
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="name" ></ion-textarea>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="full" [disabled]="user.invalid" color="primary" type="submit">Book Now</ion-button>
    </div>
  </form>
</ion-content>
