.ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }


  .small{
      font-size: x-small;
  }

  .border{
      border:3px solid rgba(0,0,0,0.1);
  }


  .custom{
    --background: #161e2c!important;   
    --color:#FF0000!important;
    --border-radius:5px!important;
   }
  