<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'own_settings' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="clearLogs()">
          CLEAR
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of plist" (click)="item.toggle = !item.toggle">
      <ion-label class="ion-text-wrap">
        <p>{{item.type}} | {{item.url}}</p>
        <p>{{item.timestamp | date: 'short' }} </p>
        <pre [hidden]="!item.toggle">{{ jsonParse(item.sent) | json}}</pre>
        <pre [hidden]="!item.toggle">{{ jsonParse(item.data) | json}}</pre>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
