<!-- ACTION SHEET --COMPONENT 2-->
<ion-page class="ion-page">
  <!--- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content parallax-header (ionScroll)="logScrolling($event)" [scrollEvents]="true">
    <div class="header-image background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <ion-item lines="none" class="transparent">
        <ion-label>
          <!-- Category -->
          <span class="ion-text-uppercase text-size-sm text-color-light font-bold">{{data.category}}</span>
          <!-- Parallax-title -->
          <h1 class="ion-text-wrap text-size-xl text-color-light font-bold">{{data.title}}</h1>
        </ion-label>
      </ion-item>
    </div>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col size="12" class="ion-no-padding background-primary">
          <ion-item class="transparent">
            <!-- Avatar-->
            <ion-avatar>
              <img [src]="data.avatar" />
            </ion-avatar>
            <ion-label class="ion-padding-start">
              <h2 class="ion-text-wrap ion-text-capitalize text-size-md text-color-secondary font-light">{{data.subtitle}}</h2>
            </ion-label>
            <!-- Share Button --->
            <ion-button class="button-action-shit" slot="end" (click)="presentActionSheet(data, $event)">
              <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="data.shareIcon"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item class="transparent" lines="none" *ngFor="let item of data.items;let i = index">
            <ion-label>
              <h2 class="ion-text-wrap ion-padding-bottom text-size-md text-color-primary font-light">{{item.title}}</h2>
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
