<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{item?.type}}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content class="meter-details-css">

  <form [formGroup]="aForm">
    <ion-list >
      <ion-item>
        <ion-label position="stacked">
          <p>{{ 'lmreading' | translate }}</p>        
        </ion-label>
        <ion-input type="text" readonly="true" readonly="true" formControlName="prevMonthReading"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <p>{{ 'monthselection' | translate }}</p>
        </ion-label>
        <ion-datetime displayFormat="MM" formControlName="monthNumber" cancelText="{{ 'cancelText' | translate }}" okText="{{'okText' | translate}}"></ion-datetime>
        
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          <p>{{ 'unit' | translate }} MWh <ion-text [color]="percentageReading ? 'danger' : ''">{{percentageReading}}</ion-text> </p>
          <p ></p>
        </ion-label>
        <ion-input type="number" formControlName="curMonthReading" (input)="curMonthReadingChange($event)"></ion-input>
        
        
      </ion-item>
      <ion-button expand="block" (click)="saveMeter()" [disabled]="this.aForm.invalid || isErrorInForm" >{{ !isErrorInForm ? ('save' | translate) : ('no_reference_values' | translate) }}</ion-button>
    </ion-list>
  </form>
  
  
  
  
</ion-content>