.background-size {
  height: 57px;
  position: relative;

  ion-item {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 100%;

    img {
      max-width: 185px;
    }
  }
  .padding-left-60 {
    padding-left: 60px;
  }
}

