<!-- <ion-header>
<ion-row>
  <ion-col size="1">
  <ion-button (click)="dismiss()" fill="clear" color="dark"><ion-icon name="close-outline"></ion-icon></ion-button>
</ion-col>
<ion-col size="6">
<ion-title>
  Upload Pictures
</ion-title>
</ion-col>
</ion-row>
</ion-header> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Upload pictures</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-item>
        <ion-textarea [(ngModel))]="description"></ion-textarea>
      </ion-item>
      <ion-card *ngIf="mimeType">
        <video width="100%" *ngIf="mimeType == 'video/mp4' " [src]="image" ></video>
        <img *ngIf="mimeType != 'video/mp4' " [src]="image" />
      </ion-card>
      <ion-button *ngIf="mimeType" expand="block" color="primary" (click)="uploadFile()">Upload File</ion-button>    
      <ion-grid>
        <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-icon name="image-outline" class="center-and-enlarge"></ion-icon>
            <ion-button expand="block" color="primary" fill="outline" (click)="openFile()" >Open Gallery</ion-button>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-icon name="camera-outline" class="center-and-enlarge"></ion-icon>
            <ion-button expand="block" color="primary" fill="outline" (click)="capturePicture()" >Open Camera</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
      <!-- <ion-card>
        <img [src]="image" />
      </ion-card> -->
      <!-- <ion-button expand="block" color="primary" (click)="uploadFile()">Upload File</ion-button> -->
      
    </ion-list>

    <input type="file" id="image" style="display: none;" #fileupload accept="video/mp4, image/png, image/gif, image/jpeg" multiple="false" class="fileupload" name="fileupload" (change)="onSelectFile($event)" />
</ion-content>