<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'description' | translate }}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" (ionChange)="ionChange($event)" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item class="ion-text-wrap" *ngFor="let item of plist" (click)="selectSelector(item)"
      detail="false">
      <ion-label class="ion-text-wrap">
        <h2>{{item.display}}</h2>
      </ion-label>
    </ion-item>

  </ion-list>
  <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMore($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addASelector()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
