<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>OtherWork</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="my-work">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ type == 'w' ? ('Own' | translate) : ('works' | translate) }}</ion-label>
      <!-- <ion-badge>{{ getTotalWork() }}</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button *ngIf="type == 'w'" tab="other-work" >
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>{{ type == 'w' ? ('Unallocated' | translate) : ('service' | translate) }}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="type != 'w'" tab="services-work" >
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>{{ type == 'w' ? ('Unallocated' | translate) : ('service' | translate) }}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="type != 'w' && showMeters" tab="work-meters" >
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>{{ 'meters' | translate }}</ion-label>
    </ion-tab-button>

    

  </ion-tab-bar>
</ion-tabs>
<!-- </ion-content> -->