<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row class="ion-padding-start">
    <ion-col class="ion-no-padding" size="11" offset="1">
      <!-- Cards -->
      <ion-card class="ion-no-padding" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
        <span class="ion-text-wrap text-size-xs text-color-accent font-regular">{{item.time}}</span>
        <ion-item class="ion-margin-top transparent ion-no-padding">
          <ion-avatar class="ion-align-self-start">
            <img [src]="item.avatar">
          </ion-avatar>
          <ion-label class="ion-padding-start">
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
            <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
            <div clearfix></div>
            <p class="ion-text-wrap text-size-xs text-color-secondary font-light ion-padding-top">{{item.description}}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
