<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{item?.externalId}}, {{item?.property}}</ion-title>
    
    <ion-buttons slot="end" *ngIf="!asHistory">
      <ion-button (click)="workMenu($event)">
        <ion-icon color="light" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  

  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{ item?.requestDate ? (item?.requestDate | date: 'yy.MM.dd') : '' }} | {{ item?.serviceMan }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-border-bottom">
        <ion-label class="ion-text-wrap">
          <p>{{item?.orderDescription}}</p>
        </ion-label>
      </ion-col>
      <ion-col size="12" class="ion-border-bottom">
        <ion-label>
          <p slot="start">{{ 'Address' | translate }}</p>
          <h2 slot="end">{{item?.building}} </h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.contact' | translate }}</p>
          <h2 slot="end">{{ item?.subscriber }}</h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom" (click)="item.phoneNo ? callme(item.phoneNo) : '' ">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.phone' | translate }}</p>
          <h2 slot="end">{{ item?.phoneNo }}</h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.agreed_visit_time' | translate }}</p>
          <h2 slot="end">{{ item?.deliveryTime | date: 'MMM d, y, HH:mm' }}</h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.call_and_agree' | translate }}</p>
          <h2 slot="end"> <ion-checkbox [checked]="item?.callAndAgree"></ion-checkbox> </h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom" *ngIf="user?.industry == 1">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.service_company_key' | translate }}</p>
          <h2 slot="end"> <ion-checkbox [checked]="item?.key1"></ion-checkbox> </h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom" *ngIf="user?.industry == 1">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.animals' | translate }}</p>
          <h2 slot="end"> <ion-checkbox [checked]="item?.animals"></ion-checkbox> </h2>
        </ion-label>
      </ion-col>


      <ion-col size="6" class="ion-border-bottom">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.apartment' | translate }}</p>
          <h2 slot="end">{{item?.apartment}}</h2>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-border-bottom">
        <ion-label>
          <p slot="start">{{ 'propertyHistoryView.priority' | translate }} </p>
          <h2 slot="end">{{ item?.urgencyName}}</h2>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <!-- <ion-item>
      <ion-label>
        <h2>{{ 'propertyHistoryView.equipment' | translate }}</h2>
        <p>{{item?.typeCode}}</p>
      </ion-label>
    </ion-item> -->
    <ion-button *ngIf="!asHistory" expand="block" [color]="item?.startedTime ? 'postred' : 'postgreen' " (click)="toggleStartTime($event)">{{
      item?.startedTime ? ( 'propertyHistoryView.stop_button_text' | translate ) : ('propertyHistoryView.start_button_text' | translate ) }}</ion-button>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let item of plist">     
      <ion-label>
        <h2 *ngIf="item.code != null"> {{item.quantity}}, {{item.code}}, {{item.description}}</h2>
        <h2 *ngIf="item.code == null">{{item.quantity}} , {{item.description}}</h2>
      </ion-label>
      <ion-icon slot="end" color="danger" name="trash-outline" *ngIf="!asHistory" (click)="deleteLineItem(item)"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- 

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{item.building}}</ion-card-subtitle>
      <ion-card-title>{{item.property}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
                <p>"externalId": {{item?.externalId}}</p>
                <p>"property": {{item?.property}}</p>
                <p>"building": {{item?.building}}</p>
                <p>"apartment": {{item?.apartment}}</p>
                <p>"serviceMan": {{item?.serviceMan}}</p>
                <p>"orderDescription": {{item?.orderDescription}}</p>
                <p>"subscriber": {{item?.subscriber}}</p>
                <p>"phoneNo": {{item?.phoneNo}}</p>
                <p>"typeCode": {{item?.typeCode}}</p>
                <p>"statusClass": {{item?.statusClass}}</p>
                <p>"statusText": {{item?.statusText}}</p>
                <p>"boxColor": {{item?.boxColor}}</p>
                <p>"iconColor1": {{item?.iconColor1}}</p>
                <p>"iconColor2": {{item?.iconColor2}}</p>
                <p>"urgencyColor": {{item?.urgencyColor}}</p>
                <p>"orderId": {{item?.orderId}}</p>
                <p>"roleId": {{item?.roleId}}</p>
                <p>"length": {{item?.length}}</p>
                <p>"peonRoleId": {{item?.peonRoleId}}</p>
                <p>"hasFiles": {{item?.hasFiles}}</p>
                <p>"statusCode": {{item?.statusCode}}</p>
                <p>"urgency": {{item?.urgency}}</p>
                <p>"issueDate": {{item?.issueDate}}</p>
                <p>"createdDate": {{item?.createdDate}}</p>
                <p>"requestDate": {{item?.requestDate}}</p>
                <p>"deliveryTime": {{item?.deliveryTime}}</p>
                <p>"deliveryEndTime": {{item?.deliveryEndTime}}</p>
    </ion-card-content>
  </ion-card> -->

</ion-content>
<ion-footer *ngIf="!asHistory">  
  <ion-button expand="block" color="tertiary" (click)="completePage($event)">{{ 'work_complete' | translate }}</ion-button>
</ion-footer>