<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{item?.externalId}}, {{item?.property}}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{ item?.requestDate ? (item?.requestDate | date: 'yy.MM.dd') : '' }} | {{ item?.serviceMan }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">
            <h2>{{'description_of_work_done' | translate }} / {{'comment' | translate }}</h2>
          </ion-label>
          <ion-input type="text" [(ngModel)]="entity.description" placeholder="..."></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">
            <h2>{{'hours' | translate }}</h2>
          </ion-label>
          <ion-input type="number" [(ngModel)]="entity.hoursSpent" placeholder="..."></ion-input>
        </ion-item>        
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">
            <h2>{{'purchase_reference' | translate }}</h2>
          </ion-label>
          <ion-input type="text" [(ngModel)]="entity.subOrderReferences" placeholder="..."></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>    
  </ion-grid>
  
  <ion-list>
    <ion-item-divider color="primary" (click)="openWOrkClassSelection()">
      <ion-label>{{ 'work_class' | translate }}</ion-label>      
      <ion-icon class="ion-padding-end" slot="end" [name]="'add-circle-outline'"></ion-icon>
    </ion-item-divider>

    
    <ion-item *ngFor="let item of selectedWork">     
      <ion-label>
        <h2>{{item.description}}</h2>
        <!-- <p>Code : {{item.code}}{{item.duration}}</p>
        <p>Duration : {{item.duration}}</p> -->
      </ion-label>
      
    </ion-item>
    

    <!-- <ion-item (click)="hideOptions = !hideOptions">
      <ion-label>{{ 'show_more' | translate }}</ion-label>
      <ion-icon slot="end" [name]="hideOptions ? 'add-circle-outline' : 'remove-circle-outline'"></ion-icon>
    </ion-item> -->
    
  </ion-list>
  
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button [disabled]="!entity.description" expand="block" color="postgreen" (click)="openWOrkCommentSelection()"><span [hidden]="commentSpinner || commentSubmitted" >{{'tabs.customers.completion.commentWork' | translate}}</span> <ion-spinner class="btn-spinner" [hidden]="!commentSpinner" name="lines"></ion-spinner> </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-button [disabled]="!item?.orderId || !entity.description " expand="block" color="tertiary" (click)="save($event)">{{ 'tabs.customers.completion.completeWork' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- || !entity.hoursSpent -->
  
</ion-footer>
