/* Style component 1
========================================================*/

ion-list-header {

  ion-button {
    align-self: flex-end;
  }
}

ion-item {
  --background: var(--cs-background-primary);
}

ion-item-options {
  border-bottom: 1px solid var(--cs-background-border) !important;
}
