<ion-app>
  <!-- Header -->
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">Shipments</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-searchbar (ionChange)="onSearchTerm($event)" (ionClear) ="getShipmentDetails()" 
    placeholder="Search Shipment"></ion-searchbar>
    <!-- PAGE 1-->
    <cs-check-box-layout-1
      *ngIf="isType(0)"
      [data]="data.items"
      (onItemClick)="onItemClick($event)">
    </cs-check-box-layout-1>

    <!-- PAGE 2-->
    <cs-check-box-layout-2
      *ngIf="isType(1)"
      [data]="data.items"
      (onItemClick)="onItemClick($event)">
    </cs-check-box-layout-2>

    <!-- PAGE 3-->
    <cs-check-box-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onItemClick)="onItemClick($event)">
    </cs-check-box-layout-3>
    <!-- <ion-button *ngIf="itemClicked" expand="block" color="success" (click)="bookNow()">Book in and Store</ion-button> -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="itemClicked" >
      <ion-fab-button>
        <ion-icon name="add" (click)="bookNow()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>
