<!-- ANIMATION --COMPONENT 3 -->
<ion-grid *ngIf="data && data.items">
  <ion-row appAnimateItems className="bounceIn">
    <ion-col size="12" size-sm="6" *ngFor="let item of data.items" class="animation-normal opacity-0">
      <ion-card class="ion-no-margin background-size border-radius no-box-shadow gradient-image"
      (click)="onEvent('onItemClick', item, $event)"
      [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
        <ion-card-header>
          <h2 class="ion-text-wrap text-size-xl text-color-light font-bold">
            {{item.title}}</h2>
        </ion-card-header>
        <ion-card-content>
          <h3 class="ion-text-wrap text-size-xs text-color-light font-light ion-padding-top">
            {{item.description}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
