<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'calender' | translate }}</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>{{'month' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>{{'week' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>{{'day' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <!-- <ion-row>
    <ion-col size="6">
      <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
        Add random events
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="removeEvents()" expand="block" fill="outline">
        Remove all events
      </ion-button>
    </ion-col>
  </ion-row> -->
 
  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" [disabled]="loading" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
 
    <ion-col size="8" class="ion-text-center">
      <h2 class="cal-heading">{{ viewTitle }}</h2>
    </ion-col>
 
    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" [disabled]="loading" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
 
  <calendar #myCal class="mcal-view"
    [locale]="calendar.locale"
    [eventSource]="calendarService.eventSource"
    [queryMode]="'remote'"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" 
    (onRangeChanged)="onRangeChanged($event)"  
    startHour="7"
    endHour="21"
    step="30"
    startingDayWeek="1"
    [monthviewDisplayEventTemplate]="monthtemplate"
    [weekviewNormalEventTemplate]="weektemplate"
    [dayviewNormalEventTemplate]="daytemplate"
  >
  </calendar>
  

  <ng-template #monthtemplate let-view="view" let-row="row" let-col="col">
      <div [ngStyle]="{'background-color':view.dates[row*7+col].events[0]?.data.boxColor,'font-size':'small','overflow':'hidden'}" class="no-overflow">
        <!-- {{view.dates[row*7+col].events[0]?.data?.requestDate | date:'d'}} -->
        {{view.dates[row*7+col].label}}
      </div>
</ng-template>

<ng-template #weektemplate let-displayEvent="displayEvent">
  <div [ngStyle]="{'background-color':displayEvent.event?.data.boxColor,'font-size':'small','overflow':'hidden','color':'white', 'padding': '8px'}" class="no-overflow">{{displayEvent.event.title}}</div>
</ng-template>


<ng-template #daytemplate let-displayEvent="displayEvent">
  <div [ngStyle]="{'background-color':displayEvent.event?.data.boxColor,'font-size':'small','height':'70%','overflow':'hidden','color':'white', 'padding': '8px'}" class="no-overflow">{{displayEvent.event.title}}</div>
</ng-template>

</ion-content>