<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ type == 'w' ? ('Own' | translate) : ('works' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="type == 'c'" (click)="completeTasks($event)">
        {{'service_out_button' | translate }}
      </ion-button>
      <ion-button (click)="moreMenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="initialize($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>

    
    <ion-item class="ion-text-wrap" [color]="item?.startedTime ? 'postgreen' : '' " *ngFor="let item of plist | filter:filterTerm" (click)="selectWork(item)"
      detail="false">
      <ion-label class="ion-text-wrap">
        <span [ngStyle]="{ 'height': '15px',
          'width': '15px',
          'margin-top':'5px',
          'background-color': item.urgencyColor,
          'border-radius': '50%',
          'display': 'inline-block',
          'float':'right'
        }"></span>
        <h2>{{item.externalId}} {{item.property}}</h2>
        <p>{{item.building}}</p>
        <p>{{item.orderDescription}}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="plist.length == 0">
      <p>{{ 'no_results_found' | translate }}</p>
    </ion-item>

  </ion-list>


</ion-content>