<!--Theme Fade in + Ken Burns-->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <img class="background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.backgroundImage + ')'}" />
      <ion-img class="animate-me" #box [src]="data.logo"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
