<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="light" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'info' | translate }}</ion-title>

  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p><ion-text color="primary">{{info}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-wrap" [color]="item?.startedTime ? 'postgreen' : '' " *ngFor="let item of plist | filter:filterTerm" (click)="selectWork(item)"
      detail="false">
      <ion-label class="ion-text-wrap">
        <h2>{{item.externalId}} {{item.property}}
          <!-- <ion-icon slot="end" name="ellipse" [style.color]="item.boxColor" [style.float]="'right'" ></ion-icon> -->
        </h2>
        <p>{{item.building}}</p>
        <p>{{item.orderDescription}}</p>
      </ion-label>
    </ion-item>

    
  </ion-list>
  
</ion-content>
