<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Footer tab - text
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-label>All Posts</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2">
        <ion-label>Followers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-label>Commnets</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
