<ion-page class="ion-page">
  <!--- Header Big Image-->
  <ion-content>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row class="ion-padding-top">
        <ion-col class="ion-no-padding" size="12">
          <h2 class="ion-no-margin ion-padding-start ion-padding-bottom text-size-xl text-color-accent font-bold">{{data.title}}</h2>
          <ion-slides pager="true" class="top-stories ion-padding-bottom">
            <ion-slide *ngFor="let item of data.items">
              <ion-col size="12">
                <ion-card class="ion-no-padding no-box-shadow no-border-radius ion-text-left">
                  <ion-item class="ion-no-padding transparent" lines="none">
                    <ion-avatar slot="start">
                      <img [src]="item.avatar" />
                    </ion-avatar>
                    <ion-label>
                      <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.avatarTitle}}</h2>
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.avatarSubtitle}}</h3>
                    </ion-label>
                    <ion-button slot="end" class="button-action-shit" (click)="presentActionSheet(data, $event)">
                      <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="data.shareIcon"></ion-icon>
                    </ion-button>
                  </ion-item>
                  <div class="border-radius background-size gradient-image" [ngStyle]="{'background-image': 'url(' + item.backgroundCard + ')'}">
                  </div>
                  <ion-card-content class="ion-no-padding ion-text-left">
                    <h2 class="text-size-md text-color-secondary font-light ion-text-capitalize ion-padding-top">{{item.category}}</h2>
                    <h1 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h1>
                    <p class="ion-text-wrap text-size-p text-color-secondary font-light">{{item.description}}</p>
                    <ion-button  class="button-icon ion-text-capitalize" (click)="onLikeFunc(item, $event)">
                      <ion-icon class="icon-font-md icon-color-primary" slot="start" [name]="item.likeIcon"></ion-icon>
                      {{item.likeNumber}} {{item.likeText}}
                    </ion-button>
                    <ion-button  class="ion-text-capitalize button-icon" (click)="onCommentFunc(item, $event)">
                      <ion-icon class="icon-font-md icon-color-primary" slot="start" [name]="item.commentIcon"></ion-icon>
                      {{item.commentNumber}} {{item.commentText}}
                    </ion-button>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-slide>
          </ion-slides>
        </ion-col>
        <ion-col size="12" class="ion-padding-top">
          <ion-item lines="none" class="transparent">
            <h1 class="ion-no-margin text-color-primary font-bold text-size-xl" slot="start">{{data.recommender}}</h1>
            <ion-button slot="end"  class="ion-text-capitalize button-icon">
              {{data.buttonSeeAll}}
              <ion-icon class="icon-font-md icon-color-primary" slot="end" [name]="data.iconMore"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-no-padding slider">
          <ion-card class="ion-no-padding no-box-shadow no-border-radius" *ngFor="let item of data.category;">
            <div class="border-radius background-size" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            </div>
            <ion-card-content class="ion-no-padding">
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light ion-padding-top">{{item.title}}</h2>
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
